<h1><%= @lesson.name %></h1>

<p><%= @lesson.description %></p>


<p><a href="/lessons">Back</a></p>

<p><a href="/lessons/<%= @lesson.id %>/edit">Edit</a></p>
<p><a href="/lessons/<%= @lesson.id %>/"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

